body{
  font-family: sans-serif;
  font-weight: 100;
}

#canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 0;
}

.menu-item{
  padding-top: 0.8em;
  padding-bottom: 0.5em;
}

#menuSwitch{
  position: absolute;
  z-index: 2;
}
#nav{
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  width: 20em;
  box-sizing: border-box;
  border: 1px solid white;
  box-shadow: 0px 0px 5px whitesmoke;
  padding: 2.5em 1em 1em 1em;
}

.toggleSwitch{
  height: 3em;
  font-weight: 100;
  font-size: 72;
  color:whitesmoke;
  background: transparent;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 5px whitesmoke;
}
#menuSwitch{
  width: 5em;
  height: 3em;
  font-weight: 100;
  font-size: 72;
  color:whitesmoke;
  background: transparent;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 5px whitesmoke;
}
/* Slider */
.slidecontainer {
    width: 10%; /* Width of the outside container */
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: whitesmoke;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: whitesmoke;
    cursor: pointer;
  }

  .hslSlider{
      color: whitesmoke;
      margin: 0;
  }

  input{
      width:10%;
  }
  label{
      color: whitesmoke;
  }

  /* Checkbox */

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switchSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .switchSlider {
    background-color: #2196F3;
  }
  
  input:focus + .switchSlider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .switchSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switchSlider.round {
    border-radius: 34px;
  }
  
  .switchSlider.round:before {
    border-radius: 50%;
  }